<!-- 

    Showcase style sheet: copyright (C) 2016 by giovanni.organtini@uniroma.it

    This file is part of Showcase. 

    Showcase is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Showcase is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Showcase.  If not, see <http://www.gnu.org/licenses/>.

-->

p {
    font-family: Frutiger;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 20px;
    margin-top: 0.64em;
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 1.25em;
    text-align: left;
}

#side {
    float: left;
    width: 112px;
    max-width: 112px;
    isplay: inline-block;
}

#left {
    float: left;
    width: 45%;
    padding-left: 110px;
}

#right {
    float: left;
    width: 45%;
}

#footer {
    height: 50px;
    clear: both;
    margin-left: 5px;
    font-family: Frutiger;
    font-size: 10pt;
    padding-left:112px;
}

article {
    width: 98%;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    float: top;
    border: 1px solid black;
    border-radius: 5px;
}

.image-wrapper {
    width: 100px;
    float: right;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.image-wrapper img {
    width: 100%;
}

table {
    width: 99%;
    margin-left: 5px;
    padding-left: 112px;
}

th, td {
    font-family: Frutiger;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 20px;
    margin-top: 0.64em;
    vertical-align: top;
    margin-left:0;
    border: 1px solid black;
}

caption {
    font-family: Frutiger;
    font-size: 14px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100;
    line-height: 20px;
    margin-top: 0.64em;
    vertical-align: top;
    margin-left: 2px;
    text-align: left;
    padding-left: 112px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: blue;
}

a:active {
    text-decoration: none;
    color: black;
}

.showcase-dialog .ui-widget-header {
    background: #822433;
    color: white;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

.content {
    font-family: Frutiger;
    font-size: 10pt;
    background-color: Aqua;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.title {
    font-family: Frutiger;
    font-size: 26px;
    background-color: #822433;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.largetitle table {
    border: none;
    border-collapse: collapse;
}

.largetitle td {
    border: none;
    font-family: Palatino;
    font-variant: small-caps;
    font-size: 15px;
    color: #830728;
    background-color: white;
}

.small-title {
    color: #822433;
    font-variant: small-caps;
    padding-left: 5px;
    padding-right: 5px;
}

.link {
    font-family: Frutiger;
    font-size: 10pt;
    padding-left: 5px;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}


